#drosteForm input[type=number] { display: none; }
#drosteForm input { display: block; } 
#srnd {
    min-height: 300px;
    text-align: center;
}
#editor {
    margin: 30px auto;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #ccc;
    display: inline-block;
}
#editor img {
    border-radius: 20px;
    margin: 10px;
}
.highlight {
    border: 1px solid yellow;
    background-color: rgba(255, 255, 0, 0.2);
    position: absolute;
    pointer-events: none;
}
button.btn {
    margin-top: 50px;
    display: block;
}
button.btn, input[type=submit], #editor {
    margin-left: auto;
    margin-right: auto;
}
