body {
    background-color: #00718F;
    color: #333;
}
#drosteForm input[type=number] { display: none; }
#drosteForm input { display: block; } 
#srnd {
    min-height: 300px;
}
a:hover, a:active {
    text-decoration: underline;
}
a, a.btn {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    color: #9Cf;
}
.btn {
    border-radius: 4px;
    padding: 5px 15px;
    background-color: whiteSmoke;
    color: #333;
}
h1, #srnd, #instructions {
    text-align: center;
}
#instructions {
    color: #eee;
}
#editor {
    margin: 30px auto;
    position: relative;
    background-color: #ace;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #acf;
    display: inline-block;
}
#editor img {
    border-radius: 20px;
    margin: 10px;
}
.highlight {
    border: 1px solid yellow;
    background-color: rgba(255, 255, 0, 0.2);
    position: absolute;
    pointer-events: none;
}
button.btn {
    margin-top: 50px;
    display: block;
}
button.btn, a.btn, input[type=submit], #editor {
    margin-left: auto;
    margin-right: auto;
}

a.btn-warning {
    display: block;
    width: 190px;
    background-color: #FB941B;
    color: #111;
}
a.btn-warning:hover {
    color: #444;
}
